@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --color-base: #64748b;
    --color-header: #1e293b; 
    --color-text: #cbd5e1;
}


body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--color-base);
    color: var(--color-text);
}

header {
    display: flex;
    height: 100px;
    background-color: var(--color-header);
    font-family: "Poppins";
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

h1 {
    display: flex;
    padding: 0;
    margin: 0;
}

button {
    box-sizing: border-box;
    background: none;
    border: 2px solid var(--color-base);
    cursor: pointer;
    transition: .3s;
    border-radius: 10px 10px 10px 10px;
    color: var(--color-text); 
}

button:hover {
    background-color: var(--color-base);
    color: var(--color-header);
}

dialog {
    width: 300px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid var(--color-text);
    color: var(--color-text);
    background-color: var(--color-header);
}

#add-movie {
    height: 25px;
    border: 3px solid var(--color-text);
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#release-date {
    color: var(--color-text);
    padding-left: 5px;
}

#amount-seen {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#genre-inquiry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

select{
    background-color: var(--color-header);
    color: var(--color-text);
}

input {
    background-color: var(--color-header);
    border: 1px solid var(--color-text);
    border-radius: 10px 10px 10px 10px;
    height: 25px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
}


#close-dialog {
    border: none;
    font-size: 1.8em;
    padding: 0;
}

#close-dialog:hover {
    background-color: transparent;
    color: var(--color-text);
}